* {
    box-sizing: border-box;
    font-family: $font-sans;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: $color-dark;


    // background-color: black;
  }
  html{
      font-size: 62.5%;
  }