
$font-cursive:'Bilbo Swash Caps', cursive;
$font-sans:'Questrial', sans-serif;
$font-serif:  'Crimson Text', serif;
$color-light: #c5b198;
$color-mediumWarm: #8c6a4e;
$color-mediumCool: #655e54;
$color-dark: #262521;



// font-family: 'Bilbo Swash Caps', cursive;
// font-family: 'Questrial', sans-serif;
// font-family: 'Crimson Text', serif;