.card {
    position: relative;
    width: 150px;     
    height: 200px;
    object-fit: contain;
    overflow: hidden;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    

        &__image> .img-container {
            position: relative;
            width: 150px;     
            height: 200px;
            object-fit: contain;
            // overflow: hidden;
        
    
            
            &--portrait{
                // max-width: 100%;
                // max-height: 100%;
                // object-fit: contain;
                // position: absolute;
                // max-width: 100%;
                // width: 150px;
                // height: auto;
                // top: 50%;     
                // left: 50%;
                // transform: translate( -50%, -50%);

            }
        }
  }
  

  
//   .card > .content {
//     padding-left: 1rem;
//     padding-right: 1rem;
//     font-size: 15px;
//   }
  
//   .card > .content > ul {
//     list-style-type: none;
//   }
  
//   .card > .content > ul > li {
//     margin-top: 18px;
//   }
  .card:hover{
    box-shadow: 5px 10px 8px 10px #888888;
    transform: scale(1.05);
    cursor: pointer;
  }
  img {
    // object-fit: contain;
    width: 150px;
    height: 200px;
  }