* {
  box-sizing: border-box;
  font-family: "Questrial", sans-serif; }

body {
  margin: 0;
  padding: 0;
  background-color: #262521; }

html {
  font-size: 62.5%; }

nav {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #655e54;
  color: #c5b198;
  font-size: 3em; }
  nav__message {
    margin: 1em;
    float: left; }
  nav__score {
    padding: 1em;
    text-align: center; }
  nav__topScore {
    padding: 1em;
    float: right; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  overflow: hidden;
  background-color: #333333; }

li {
  float: left;
  padding: 1em; }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none; }

li a:hover {
  background-color: #111111; }

.card {
  position: relative;
  width: 150px;
  height: 200px;
  object-fit: contain;
  overflow: hidden;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999; }
  .card__image > .img-container {
    position: relative;
    width: 150px;
    height: 200px;
    object-fit: contain; }

.card:hover {
  box-shadow: 5px 10px 8px 10px #888888;
  transform: scale(1.05);
  cursor: pointer; }

img {
  width: 150px;
  height: 200px; }

.title {
  grid-column-start: 1;
  grid-column-end: 5;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #8c6a4e; }
  .title__head {
    font-size: 15rem;
    font-family: "Bilbo Swash Caps", cursive; }
  .title__subtitle {
    color: #c5b198; }

.wrapper {
  padding: 0em 2em 0em 2em;
  background-color: #262521;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  grid-gap: 2em; }
